/* Add your CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 70px;
    margin: 7px 15px 7px 0;
}

.logo {
    cursor: pointer;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    height: 100%;
    max-width: 100%;
    border: 2px solid #24252A;
    border-radius: 10px;
    box-shadow: 0 3px 2px #727581;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 0 0 15px;
}

table {
    width: 50%;
    margin: 0 25% 0 25%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

form, h3 {
    width: 50%;
    margin: 0 25% 0 25%;
}