<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <section class="title">
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            <a href="#"><h1>Task List</h1></a>
        </section>
        <div class="wrapper">
            <div class="text-field">
                <form id="addTaskForm" action="/add_task" method="post">
                    <label for="taskDescription">Task Description:</label>
                    <input type="text" id="addTaskDescription" name="taskDescription">
                    <label for="dueDate">Due Date:</label>
                    <input type="text" id="addDueDate" name="dueDate">
                    <button type="submit">Add</button>
                </form>
            </div>
            <table class="center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in table %}
                    <tr>
                        <td>{{ task[0] }}</td>
                        <td>{{ task[1] }}</td>
                        <td>{{ task[2] }}</td>
                        <td>{{ task[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <h3>Add new task</h3>
    <h3>Update a task</h3>
    <form id="updateTaskForm" action="/update_task" method="post">
        <label for="taskID">Task ID:</label>
        <input type="text" id="updateTaskID" name="taskID">
        <br>
        <label for="taskDescription">Task Description:</label>
        <input type="text" id="updateTaskDescription" name="taskDescription">
        <br>
        <label for="dueDate">Due Date:</label>
        <input type="text" id="updateDueDate" name="dueDate">
        <br>
        <label for="completionStatus">Completion Status:</label>
        <select id="updateCompletionStatus" name="completionStatus">
            <option value="Not Completed">Not Completed</option>
            <option value="Completed">Completed</option>
        </select>
        <br>
        <button type="submit">Update</button>
    </form>
    <h3>Delete a task</h3>
    <form id="deleteTaskForm" action="/delete_task" method="post">
        <label for="taskID">Task ID:</label>
        <input type="text" id="deleteTaskID" name="taskID">
        <br>
        <button type="submit">Delete</button>
    </form> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
